<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/community.css">
    <title>shall we - aboutus</title>
</head>

<body>
<!--  2조멤버, 로그인, 회원가입 버튼  -->
<div class="first_hr">
    <h3 class="header-title">항해99 2기 토이프로젝트 우종혁 김나영 이선민
        <!--    로그인하면 로그아웃 버튼으로 바뀜     -->
        {% if session['user'] %}
        <button type="button" onclick="location.href='/logout'" class="top-btn">로그아웃</button>
        {% else %}
        <!--    비로그인 상태이면 기존 버튼     -->
        <button type="button" onclick="location.href='/register'" class="top-btn">회원가입</button>
        <button type="button" onclick="location.href='/login'" class="top-btn">로그인</button>
        {% endif %}
    </h3>
    <hr style="margin: 0">
</div>
<!--  왼쪽 메뉴바  -->
<div class="btns">
    <div class="left-wrap">
        <button type="button" class="btn" style="margin-top: 100px" onclick="location.href='/'">Home</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/aboutus'">About</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/makecrew'">with me</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/shop'">shop</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/community'" style="text-decoration: underline; font-weight: bolder">community</button>
    </div>
</div>
<!--커뮤니티창-->
<div class="community_box">
    <div class="community" id="community">
        <!--    로그인하면 글쓰기 버튼 활성화     -->
        {% if session['user'] %}
        <button type="button" class="write_btn" onclick="location.href='/community&write'">&#10000; 글쓰기</button>
        {% endif %}
        <div id="post">
            <div>
                <ul class="posting_box">
                    <div style="margin-bottom: 5px">&#9786;아이디1</div>
                    <small>#러닝</small>
                    <li class="title">러닝 크루 후기</li>
                    <hr>
                    <li class="title">다함께여서 즐거웠어요!</li>
                </ul>
            </div>
            <div>
                <ul class="posting_box">
                    <div style="margin-bottom: 5px">&#9786;아이디2</div>
                    <small>#클라이밍</small>
                    <li class="title">다함께 해서 즐거웠던 클라이밍!</li>
                    <hr>
                    <li class="title">혼자하면 금방 지칠텐데 크루분들과 함께하니 시간이 금방 갔어요!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        showpost();
    });

    function showpost() {
        $.ajax({
            type: "GET",
            url: "/community&write&get",
            data: {},
            success: function (response) {
                let post = response['all_posts']
                for (let i = 0; i < post.length; i++) {
                    let tag = post[i]['tag']
                    let title = post[i]['title']
                    let cmt = post[i]['cmt']

                    let temp_html = `<div>
                                        <ul class="posting_box">
                                            <div style="margin-bottom: 5px">&#9786;{{session['user']}}</div>
                                            <small>${tag}</small><li class="title">${title}</li>
                                            <hr>
                                            <li class="title">${cmt}</li>
                                        </ul>
                                    </div>`
                    $('#post').prepend(temp_html)
                }
            }
        })
    }
</script>


</body>

</html>