<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/community.css">
    <title>shall we - aboutus</title>
</head>

<body>
<!--  2조멤버, 로그인, 회원가입 버튼  -->
<div class="first_hr">
    <h3 class="header-title">항해99 2기 토이프로젝트 우종혁 김나영 이선민
        <button type="button" onclick="location.href='/letin'" class="top-btn">회원가입</button>
        <button type="button" onclick="location.href='/login'" class="top-btn">로그인</button>
    </h3>
    <hr style="margin: 0">
</div>
<!--  왼쪽 메뉴바  -->
<div class="btns">
    <div class="left-wrap">
        <button type="button" class="btn" style="margin-top: 100px" onclick="location.href='/'">Home</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/aboutus'">About</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/makecrew'">with me</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/shop'">shop</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/community'">community</button>
    </div>
</div>
<!--커뮤니티창-->
<div>
    <div class="tag">
        <h4> 관심/인기태그</h4>
        <hr>
        <ul class="workouts">
            <li class="text"><a href="/community&running" style="color: #2d3436">러닝</li></a>
            <li class="text"><a href="/community&climbing" style="color: #2d3436">클라이밍</li></a>
            <li class="text"><a href="/community&riding" style="color: #2d3436">라이딩</li></a>
            <li class="text"><a href="/community&hiking" style="color: #2d3436">등산</li></a>
        </ul>
        <button type="button" class="write_btn">&#10000; 글쓰기</button>
    </div>
    <div>

    </div>
</div>

<script>

</script>

</body>

</html>