<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/community.css">
    <title>shall we - aboutus</title>

</head>

<body>
<!--  2조멤버, 로그인, 회원가입 버튼  -->
<div class="first_hr">
    <h3 class="header-title">항해99 2기 토이프로젝트 우종혁 김나영 이선민
        <!--    로그인하면 로그아웃 버튼으로 바뀜     -->
        {% if session['user'] %}
        <button type="button" onclick="location.href='/logout'" class="top-btn">로그아웃</button>
        {% endif %}
    </h3>
    <hr style="margin: 0">
</div>
<!--  왼쪽 메뉴바  -->
<div class="btns">
    <div class="left-wrap">
        <button type="button" class="btn" style="margin-top: 100px" onclick="location.href='/'">Home</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/aboutus'">About</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/makecrew'">with me</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/shop'">shop</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/community'">community</button>
    </div>
</div>
<!--글쓰기-->
<div>
    <div class="file">
        <input type="file" id="file" style="display: none">
        <button type="button" class="submit" onclick="post()">작성하기
        </button>
        <div onclick="onclick=document.all.file.click()"><img src="../../static/img/photo.PNG" height="70px"
                                                              width="70px" style="cursor: pointer"></div>
    </div>
    <div class="write_box">
        <div class="select">
            <select id="tag">
                <option>#러닝</option>
                <option>#클라이밍</option>
                <option>#라이딩</option>
                <option>#등산</option>
            </select>
        </div>
        <div id="write">
            <input type="text" placeholder="제목" class="box" id="title">
            <hr>
            <input type="text" placeholder="내용을 입력하세요." class="cmtbox" id="cmt">
        </div>
    </div>
</div>
<script>
    function post() {
        let tag = $('#tag').val()
        let title = $('#title').val()
        let cmt = $('#cmt').val()

        $.ajax({
            type: "POST",
            url: "/community&write&get",
            data: {tag_give: tag, title_give: title, cmt_give: cmt},
            success: function (response) {
                alert(response["msg"]);
                window.location.href='/community';
            }
        })
    }
</script>
</body>

</html>