body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* 왼쪽 메뉴 */
.left-wrap {
    width: 40vh;
    height: 100vh;
    background-color: #2d3436;
}

.btn {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: #2d3436 solid 1px;
    text-align: center;
    margin-top: 5vh;
    margin-left: 10vh;
    color: white;
}

/* 멤버이름, 로그인, 회원가입 버튼  */
.first_hr {
    margin-top: -100vh;
    margin-left: 40vh;
    background-color: #2d3436;
    padding-top: 1vh;
}

.header-title {
    font-size: small;
    text-align: left;
    padding: 2px 0;
    background-color: #2d3436;
    color: white;
}

.top-btn {
    float: right;
    margin-right: 3vh;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

.top-btn:hover {
    color: #c4dcf9;
}

/* 메인페이지 제목, api박스  */
.top-title {
    width: 40vh;
    margin-top: 10vh;
    margin-left: 100vh;
}

.api-wrap {
    /*background-color: #f0def2;*/
    width: 140vh;
    height: 450px;
    margin-top: 20vh;
    margin-left: -60vh;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.api-box {
    /*background-color: #70a1ff;*/
    width: 100vh;
    height: 400px;
    display: flex;
    border: #2d3436 solid 2px;
    border-radius: 10px;
}

/*  기록용(지워도됨)  */
.api-box h2 {
    text-align: center;
    margin-top: 50%;
    color: black;
}

/* api 영역 나누기  */
#weather-api {
    width: 50vh;
    height: 400px;
    /*background-color: #636e72;*/
}

#mise-api {
    width: 50vh;
    height: 400px;
    /*background-color: sandybrown;*/
}

/* 영상 부분 */
.main-vid {
    /*background-color: grey;*/
    position: fixed;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}