body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #aca9d1, #f0def2, #c4dcf9);
}

/* 왼쪽 메뉴 */
.left-wrap {
    width: 40vh;
    height: 100vh;
    background-color: #2d3436;
}

.btn {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: #2d3436 solid 1px;
    text-align: center;
    margin-top: 5vh;
    margin-left: 10vh;
    color: white;
}

/* 멤버이름, 로그인, 회원가입 버튼  */
.first_hr {
    margin-top: -100vh;
    /*margin-left: 40vh;*/
    background-color: #2d3436;
    padding-top: 1vh;
}

.header-title {
    font-size: small;
    text-align: left;
    padding: 2px 0;
    margin-left: 5vh;
    background-color: #2d3436;
    color: white;
}

.top-btn {
    float: right;
    margin-right: 3vh;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

.top-btn:hover {
    color: #c4dcf9;
}

/* 메인페이지 제목, video  */
.top-title {
    margin-top: 10vh;
    margin-left: 40vh;
    text-align: center;
}

.main-vid {
    position: fixed;
    width: 100%;
    height: 400px;
    margin-left: 40vh;
    object-fit: fill;
    z-index: -10;
}

/* api */
.api-wrap {
    /*background-color: #70a1ff;*/
    margin-left: 40vh;
    margin-top: 37vh;
    display: flex;

}

.api-box {
    /*background-color: #636e72;*/
    display: flex;
    width: 100vh;
    height: 40vh;
}

#weather-api {
    width: 50vh;
    height: 40vh;
    margin-bottom: 5vh;
    border: black solid 1px;
    border-radius: 10px;
    /*background-color: #636e72;*/
}

#mise-api {
    width: 50vh;
    height: 40vh;
    margin-bottom: 5vh;
    border: black solid 1px;
    border-radius: 10px;
    /*background-color: sandybrown;*/
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}