body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #aca9d1, #f0def2, #c4dcf9);
}

.left-wrap{
    width: 40vh;
    height: 100vh;
    background-color: #2d3436;
}
.btn{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: #2d3436 solid 1px;
    text-align: center;
    margin-top: 5vh;
    margin-left: 10vh;
    color: white;
}
.input-info{
    width : 40vh;
    margin: auto;
}
.join-box{
    width : 60vh;
    margin: auto;
    margin-top: -100vh;
    margin-right: 20%;
    /*border: solid 1px black;*/
    border-radius: 20px;
}
.join-btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-left: 9rem;
    background-color: transparent;
    color: #2d3436;
    width: 100px;
    border: #2d3436 solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.crew-info{
    width: 200px;
    height: 250px;
    border: solid 1px black;
    margin: auto;
    margin-left: 23rem;
    border-radius: 20px;
    /*text-align: center;*/
}
.crew-btn{
    margin-top: -1.5vh;
    display: block;
    background-color: transparent;
    color: #2d3436;
    width: 100px;
    border: #2d3436 solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.info-text{
    margin-left: 10px;
}

.make-area {
    width: 400px; position: relative;
    margin-top: 20px;
}
.make-area:first-child{margin-top: 0;}
.make-area input {
    width: 40%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: black;
    outline: none;
    margin-left: 7rem;
}
.make-area label{
    position: absolute; left: 10px; top: 15px;
    font-size: 13px; color: black;
    transition: top .5s ease;
    margin-left: 10rem;
}
.make-area label.warning{
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
} /*미 입력시 빨간 글씨!*/
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
} /*미 입력시 흔들기!*/
.make-area input:focus + label,
.make-area input:valid + label{
    top: -2px;
    font-size: 13px; color: seagreen;}