<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>shall we</title>

    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>
<!--  왼쪽 메뉴바  -->
<div class="left-wrap">
    <button class="btn">Home</button>
    <br>
    <button class="btn">About</button>
    <br>
    <button class="btn">with me(=interest)</button>
    <br>
    <button class="btn">shop</button>
    <br>
    <button class="btn">community</button>
</div>

<!--  2조멤버, 로그인, 회원가입 버튼  -->
<div class="first_hr">
    <h3 class="header-title">항해99 2기 토이프로젝트 우종혁 김나영 이선민
        <button onclick="location.href='letin.html'" class="top-btn">회원가입</button>
        <button onclick="location.href='login.html'" class="top-btn">로그인</button>
    </h3>
    <hr>
</div>

<!--  영상 부분   -->
<!--<div class="main-vid">-->
<!--    <video width="500px" height="500px" autoplay muted loop>-->
<!--        <source src="../static/video/skate2.mp4" type="video/mp4">-->
<!--    </video>-->
<!--</div>-->

<!--  메인페이지 제목, api 박스  -->
<div class="top-title">
    <h1>Shall we?</h1>
    <div class="api-wrap hr-sect">
        <div class="api-box">
            <div id="weather-api">
                <h2>날씨 api 서울지역으로 아이콘 + 온도</h2>
            </div>
            <div id="mise-api">
                <h2>미세먼지 api 구별로</h2>
            </div>
        </div>
    </div>
</div>
</body>

</html>