<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/aboutus.css">
    <title>shall we - aboutus</title>
</head>

<body>
<!--  2조멤버, 로그인, 회원가입 버튼  -->
<div class="first_hr">
    <h3 class="header-title">항해99 2기 토이프로젝트 우종혁 김나영 이선민
        <!--    로그인하면 로그아웃 버튼으로 바뀜     -->
        {% if session['user'] %}
        <button type="button" onclick="location.href='/logout'" class="top-btn">로그아웃</button>
        {% else %}
        <!--    비로그인 상태이면 기존 버튼     -->
        <button type="button" onclick="location.href='/register'" class="top-btn">회원가입</button>
        <button type="button" onclick="location.href='/login'" class="top-btn">로그인</button>
        {% endif %}
    </h3>
    <hr style="margin: 0">
</div>
<!--  왼쪽 메뉴바  -->
<div class="btns">
    <div class="left-wrap">
        <button type="button" class="btn" style="margin-top: 100px" onclick="location.href='/'">Home</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/aboutus'">About</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/makecrew'">with me</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/shop'">shop</button>
        <br>
        <button type="button" class="btn" onclick="location.href='/community'">community</button>
    </div>
</div>
<!-- about us -->
<div class="about">
    <div>
        <h1> Get in touch</h1>
        <div class="getintouch">
            <div>
                <p>Name</p>
                <input type="text" id="name" placeholder="이름을 입력해주세요." class="inputbox_a" required></div>
            <div>
                <p>Email</p>
                <input type="email" id="email" placeholder="이메일을 입력해주세요." class="inputbox_a" required></div>
        </div>
        <div class="message">
            <p>Message</p>
            <textarea id="message" type="text" placeholder="소중한 의견을 들려주세요." class="inputbox_b" required></textarea>
        </div>
        <button type="button" id="submit" class="getintouch_btn">submit</button>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
   <script type="text/javascript">

	$(document).ready(function() {
		emailjs.init("user_X5o1fm2M7VdiI3PYnPJd0");

        $('#submit').click(function(){
          var templateParams = {
          //각 요소는 emailJS에서 설정한 템플릿과 동일한 명으로 작성!
                name: $('#name').val(),
                email : $('#email').val(),
                message : $('#message').val()};

         emailjs.send('gmail_ny', 'template_rzn2k28', templateParams)
         //emailjs.send('service ID', 'template ID', 보낼 내용이 담긴 객체)
         	    .then(function(response) {
         	       alert('소중한 의견 감사합니다! 빠른 피드백이 이루어질 수 있도록 노력하겠습니다.')
         	       window.location.reload();
         	    }, function(error) {
         	       alert('정상적인 제출이 이루어지지 않았습니다. 다시 시도해주세요!')
         	    });
        });

	  });

</script>
</body>

</html>