<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/joincrew.css">


    <title>shall we - join crew</title>
</head>

<body>
<div class="left-wrap">
    <button class="btn">Home</button>
    <br>
    <button class="btn">About</button>
    <br>
    <button class="btn">with me(=interest)</button>
    <br>
    <button class="btn">shop</button>
    <br>
    <button class="btn">community</button>
</div> <!--왼쪽 탭-->
<form>
    <div class="join-box">
        <div class="input-group mb-3 input-info" style="margin-top: 10px;">
            <span class="input-group-text" id="exercise">운동종류</span>
            <input type="text" class="form-control" name="exercise" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 input-info">
            <span class="input-group-text" id="location">장소</span>
            <input type="text" class="form-control" name="location" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 input-info">
            <span class="input-group-text" id="time">시간</span>
            <input type="text" class="form-control" name="time" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 input-info">
            <span class="input-group-text" id="people">인원</span>
            <input type="text" class="form-control" name="people" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <button type="button" class="btn btn-success join-btn">크루 모집</button>
    <hr>
</form>

</body>

</html>