<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/shop.css">

    <title>shall we - shop</title>
</head>

<body>
<div class="left-wrap">
    <button class="btn">Home</button>
    <br>
    <button class="btn">About</button>
    <br>
    <button class="btn">with me(=interest)</button>
    <br>
    <button class="btn">shop</button>
    <br>
    <button class="btn">community</button>
</div> <!--왼쪽 탭-->
<div class="card" style="width: 18rem;">
  <img src="https://cdn.pixabay.com/photo/2016/03/24/14/23/vitamin-1276832_1280.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">비타민C</h5>
      <p class="card-text">활력을 되찾으세요!</p>
        <p style="font-size: 13px; color: #999999;">가격 : 18,900원</p>
    <a href="#" class="btn btn-success" style="margin-top: -20px;">상세페이지 이동</a>
  </div>
</div>
</body>

</html>